@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

#textBackground {
    /*background-color: rgba(205,184,161, 0.15);*/
    /*background-color: rgba(223,239,82, 0.15);*/
    /*border: solid 3px #000000;*/
    /*color: rgba(223,239,82,1);*/
    padding-left: 1vh;
    border-radius: 10px;
}

#disclaimer {
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: black;
    text-align: left;
    z-index: 50;
}

.footer-holder {
    position: relative;
}

    .footer-holder .plus {
        position: absolute;
        top: 10px; /*your button position*/
        right: 10px; /*your button position*/
    }

.groceryBag {
    background-image: url("../images/grocerybag.png");
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 150px;
    width: 150px;

    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

    .groceryBag:hover {
        transform: scale(1.5);
    }
/*Shaking Animation*/

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {

}

.background-image {
    /*background-image: url('../images/pantrymgmt.png');*/
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    position: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

/* Position text in the middle of the page/image */
.background-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    /*top: 50%;
    left: 50%;*/
    width: auto;
    /*transform: translate(-50%, -100%);*/
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.background-text-search {
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0, 0.4);*/ /* Black w/opacity/see-through */
    color: black;
    font-weight: bold;
    /*border: 3px solid #f1f1f1;*/
    position: absolute;
    top: 0%;
    left: 0%;
    /*transform: translate(5%, 25%);*/
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.background-text-recipes {
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0, 0.4);*/ /* Black w/opacity/see-through */
    color: black;
    font-weight: bold;
    /*border: 3px solid #f1f1f1;*/
    position: absolute;
    /*top: 0%;
    left: 0%;*/
    transform: translate(25%, -15%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

#floatingBackground {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*animation: breath 30s linear infinite;*/
}

@keyframes breath {
    0% {
        background-size: 100% auto;
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        background-size: 100% auto;
    }
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

/*---- Isotope Grids ----*/
.grid-item {
    width: 25%;
}

.grid-item--width2 {
    width: 50%;
}

/*---- Page Loader ----*/
.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .loader div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }

        .loader div:after {
            content: " ";
            display: block;
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #289FDA;
            margin: -4px 0 0 -4px;
        }

        .loader div:nth-child(1) {
            animation-delay: -0.036s;
        }

            .loader div:nth-child(1):after {
                top: 63px;
                left: 63px;
            }

        .loader div:nth-child(2) {
            animation-delay: -0.072s;
        }

            .loader div:nth-child(2):after {
                top: 68px;
                left: 56px;
            }

        .loader div:nth-child(3) {
            animation-delay: -0.108s;
        }

            .loader div:nth-child(3):after {
                top: 71px;
                left: 48px;
            }

        .loader div:nth-child(4) {
            animation-delay: -0.144s;
        }

            .loader div:nth-child(4):after {
                top: 72px;
                left: 40px;
            }

        .loader div:nth-child(5) {
            animation-delay: -0.18s;
        }

            .loader div:nth-child(5):after {
                top: 71px;
                left: 32px;
            }

        .loader div:nth-child(6) {
            animation-delay: -0.216s;
        }

            .loader div:nth-child(6):after {
                top: 68px;
                left: 24px;
            }

        .loader div:nth-child(7) {
            animation-delay: -0.252s;
        }

            .loader div:nth-child(7):after {
                top: 63px;
                left: 17px;
            }

        .loader div:nth-child(8) {
            animation-delay: -0.288s;
        }

            .loader div:nth-child(8):after {
                top: 56px;
                left: 12px;
            }

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ---- Generic Styling ---- */
.responsive {
    width: 100%;
    height: auto;
}

/*---- Navbar----*/

.nav-icon {
    /*filter: invert(74%) sepia(33%) saturate(7498%) hue-rotate(168deg) brightness(92%) contrast(85%);*/ /*OG blue #289FDA*/
    /*filter: invert(41%) sepia(15%) saturate(2245%) hue-rotate(173deg) brightness(93%) contrast(94%);*/ /*BLUE #326DB6*/
    filter: invert(28%) sepia(7%) saturate(55%) hue-rotate(251deg) brightness(94%) contrast(90%); /*GREY #4A494A*/
}

/*.nav-item a:hover i[class^="nav-icon-"], .nav-item a.active i[class^="nav-icon-"]:hover*/
/*.nav-item a:hover #nav-icon, .nav-item a.active #nav-icon {
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(202deg) brightness(103%) contrast(100%);
}*/

.nav-item a:hover /*#nav-icon*/ {
    background: rgba(74, 73, 74, 0.2);
    color: #4A494A;
}

.nav-link.active:hover > .nav-icon {
    filter: invert(28%) sepia(7%) saturate(55%) hue-rotate(251deg) brightness(94%) contrast(90%);
}

.nav-item a.active /*#nav-icon*/ {
    background: rgba(40, 159, 218, 0.2);
    color: #289FDA;
}

.nav-link.active > .nav-icon {
    filter: invert(74%) sepia(33%) saturate(7498%) hue-rotate(168deg) brightness(92%) contrast(85%);
}

#menu-close-icon {
    /*width: 100%;*/
    position: absolute;
    right: -3rem;
}

.nav-icon-close {
    background-image: url("../images/nav-close-icon.svg");
    background-repeat: no-repeat;
    margin-left: auto;
    width: 1rem;
    height: 1rem;
    position: relative;
    display: flex;
    margin-right: 1rem;
    margin-top: .75rem;
    margin-bottom: 1.225rem;
    filter: invert(1) brightness(1);
}

    .nav-icon-close:hover {
        cursor: pointer;
    }

.nav-icon-close-black {
    background-image: url("../images/nav-close-icon.svg");
    background-repeat: no-repeat;
    margin-left: auto;
    width: 1rem;
    height: 1rem;
    display: flex;
}

.nav-icon-dashboard {
    background-image: url("../images/nav-dashboard-icon.svg");
    background-repeat: no-repeat;
    margin-right: 1.125rem;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    display: flex;
}

.nav-icon-customers {
    background-image: url("../images/nav-customers-icon.svg");
    background-repeat: no-repeat;
    margin-right: 1.125rem;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    display: flex;
}

.nav-icon-desking {
    background-image: url("../images/nav-desking-icon.svg");
    background-repeat: no-repeat;
    margin-right: 1.125rem;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    display: flex;
}

.nav-icon-deals {
    background-image: url("../images/nav-deals-icon.svg");
    background-repeat: no-repeat;
    margin-right: 1.125rem;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    display: flex;
}

.nav-icon-account {
    background-image: url("../images/nav-account-icon.svg");
    background-repeat: no-repeat;
    margin-right: 1.125rem;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    display: flex;
}

#navbar-wrapper {
    z-index: 2;
}

.menu-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

#navbar-wrapper.width.collapsing {
    position: relative;
    overflow: hidden;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-property: width;
    transition-property: width;
    width: 0;
    height: auto;
}

#navbar-wrapper .height.collapsing {
    position: relative;
    overflow: hidden;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-property: height;
    transition-property: height;
    width: auto;
    height: 0;
}

#menu-canvas {
    position: fixed;
    background-color: #fcfcfc;
    width: 20%;
    box-shadow: 4px 0 10px 0 rgba(0,0,0,.4);
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: 3.5rem
}

.custom-toggler navbar-toggler-icon {
    z-index: 2;
    position: absolute;
}

.nav-item a {
    color: #4A494A;
    background-color: #FCFCFC;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

/*.nav-item a.active {
    background: rgba(38, 126, 174, 0.3);
    color: #326DB6;
}*/

.nav-tabs .nav-link.active:hover {
    color: #289FDA;
    cursor: default;
}

a.nav-link {
    background-color: #FCFCFC;
}

.nav-tabs a.nav-link:hover {
    cursor: pointer;
}

.nav-item a:hover {
    /*background: rgba(74, 73, 74, 0.2);
    color: #4A494A;*/
    background: rgba(74, 73, 74, 0.2);
    color: #4A494A;
}

.app-logo {
    width: 9rem;
}

.company-logo {
    width: 10rem;
}

.vl {
    border-left: 0.0625rem solid #000000;
    height: 2rem;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
}

/*Modal Styles*/
.culimancy-container {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.culimancy-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}

.culimancy-active {
    display: flex;
}

.culimancy-modal {
    flex-direction: column;
    background-color: #fcfcfc;
    border-radius: 4px;
    border: 1px solid #fcfcfc;
    padding: 1.5rem;
    z-index: 2;
    overflow: hidden auto;
    max-height: 100%;
}

.culimancy-modal-xl {
    width: 95%;
    min-height: 95%;
}

.culimancy-modal-lg {
    width: 75%;
    /*height: 80%;*/
}

.culimancy-modal-md {
    width: 60%;
    /*height: 75%;*/
}

.culimancy-modal-sm {
    width: 50%;
    /*height: 40%;*/
}

.culimancy-modal-sm-short {
    width: 50%;
    /*height: 25%;*/
}

.culimancy-modal-xs {
    width: 40%;
    /*height: 20%;*/
}

.culimancy-modal-tiny {
    display: flex;
    flex-direction: column;
    width: 30%;
    /*height: 15%;*/
    background-color: #fcfcfc;
    border-radius: 4px;
    border: 1px solid #fcfcfc;
    padding: 1.5rem;
    z-index: 4;
}

.culimancy-modal-scrollbar {
    max-height: 90vh;
    overflow-y: auto;
}

.culimancy-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 2rem 0;
}

.culimancy-header-slim {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.culimancy-title {
    margin-bottom: 0;
}

.culimancy-close {
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

.culimancy-content {
}

@media (max-width: 768px) {
    .culimancy-modal-md {
        width: 90%;
    }
}

@media (min-width: 768.1px) {
}

@media (min-width: 992px) {
}
}
