@using GenericInterfaces.Search
@using Culimancy.Common.HttpModels
@using Culimancy.Common.Models
@inject SearchGI SearchGI

<h5>@Model.Name</h5>

<img class="responsive" src="@Model.Image" onclick="window.open(@Model.Website)">
<ul class="list-group">
    @foreach (var ingredient in Model.Ingredients)
    {
        <li class="list-group-item">@ingredient</li>
    }
</ul>

@code {
    [Parameter]
    public RecipeModel Model { get; set; }

}
