@using GenericInterfaces.Search
@using global::Common.Models
@inject SearchGI SearchGI

<h1>Recipe</h1>

HELLO FRIEND!

<button class="btn btn-primary">GO!</button>

@code {
    private RecipeModel _recipeModel = new RecipeModel();
}
