@page "/"
@using GenericInterfaces.Search
@using Common.Models
@using RestSharp.Extensions
@using Culimancy.Common.HttpModels
@using System.Diagnostics
@using System.IO
@using System.Text.RegularExpressions
@using Newtonsoft.Json
@inject SearchGI SearchGI
@inject IJSRuntime JSRuntime


<div style="position: relative; width: 100%; height: 100%;">
    <div style="width: 100%; height: 100px; position: relative; overflow: hidden;">
        <h1 class="p-3" style="font-family: Roboto Slab; position: absolute;">Culimancy</h1>
        <img src="images/pantrymgmt.PNG" style="width: 100%; min-height: 100%; min-width: 100%;" alt="Culimancy" />
    </div>
    <div style="width: 100%; height: auto; background-color: white;">
        <div class="col-12" >
            <EditForm Model="allRecipes" OnSubmit="@SearchRecipes">
                <h5>Search for a Recipe</h5>
                <InputText border-radius:25px @bind-Value="@currentSearch"></InputText>
                <button class="btn btn-primary" @onclick="SearchRecipes">GO!</button><br/>
                <small class="text-muted">v0.18</small>
                <small>This website was written in Blazor, and is currently a work in progress.</small><br/>
                @*<button class="btn btn-primary" @onclick="ScrapeForRecipes">Custom Scrape</button>*@
                @*<button class="btn btn-primary" @onclick="GetRecipe">Find in Database</button>*@

                <div class="p-3 main-carousel" style="height: 50vh;">
                    @foreach (var recipe in allRecipes)
                    {
                        <Recipe Model="recipe" ToggleCallback="ToggleRecipe" SizeClasses="recipe-price-card" CloseCallback="RemoveRecipe" ToggleEnabled="false" ImageRotator="false"></Recipe>
                    }
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private RecipeModel recipeModel = new RecipeModel();
    public List<RecipeModel> allRecipes = new List<RecipeModel>();
    private string currentSearch;

    public bool Loading = false;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
        }
        catch (Exception e)
        {
            throw e;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            try
            {

            }
            catch (Exception e)
            {
                Debug.WriteLine(e.Message);
            }
        }
    }

    private async void SearchRecipes()
    {
        var payload = File.ReadAllText("C:\\Users\\joshu\\source\\repos\\Culimancy\\wwwroot\\json.json");
        var allIngredients = JsonConvert.DeserializeObject<RootObject>(payload);
        //for(var i = 0; i < 20; i++)
        //{
        //    var test = await SearchGI.AddIngredients(allIngredients.tags[i]);
        //}

        allRecipes.Clear();

        var searchResults = await SearchGI.GetRecipes(currentSearch);

        foreach (var result in searchResults)
        {
            allRecipes.Add(new RecipeModel()
            {
                Name = result.label,
                Image = result.image,
                Website = result.shareAs,
                Source = result.source,
                Calories = (int)result.calories,
                Ingredients = result.ingredients.Select(x => x.text).ToList()
            });
        }

        StateHasChanged();
        await JSRuntime.InvokeVoidAsync("StartFlickity");

        //Add to database
        //try
        //{
        //    var tasks = new List<Task>();

        //    foreach (var recipe in allRecipes)
        //    {
        //        tasks.Add(Task.Run(() =>
        //        {
        //            var result = SearchGI.AddRecipe(recipe).Result;
        //        }));

        //        foreach (var ingredient in recipe.Ingredients)
        //        {
        //            ////Filter unnecessary ingredients
        //            //var ingredientWords = ingredient.Split(" ").ToList();
        //            //var unnecessaryWords = ingredientWords.Where(x => x.Contains("cups"));
        //            //var filteredIngredients = ingredientWords.Except(unnecessaryWords);

        //            //var test = string.Join(" ", Regex.Split(ingredient, @"[\d]"));
        //            ////(?< !^)(?=[A - Z])

        //            tasks.Add(Task.Run(() =>
        //            {
        //                try
        //                {
        //                    var result = SearchGI.AddIngredient(ingredient).Result;
        //                }
        //                catch (Exception e)
        //                {
        //                    Debug.WriteLine(e, "Issue writing to database");
        //                }
        //            }));
        //        }
        //    }

        //    try
        //    {
        //        await Task.WhenAll(tasks.ToArray());
        //    }
        //    catch (Exception e)
        //    {
        //        Debug.WriteLine(e, "Issue writing to database");
        //    }
        //}
        //catch (Exception e)
        //{
        //    Debug.WriteLine(e, "Issue writing to database");
        //}

        StateHasChanged();

        //await JSRuntime.InvokeVoidAsync("UpdateFlickity");
    }

    private async void ScrapeForRecipes()
    {
        var searchResults = SearchGI.GetRecipes(currentSearch, "foodnetwork");
        allRecipes.Clear();

        foreach (var result in searchResults)
        {
            //allRecipes.Add(new RecipeModel()
            //{
            //    Name = result.label,
            //    Image = result.image,
            //    Website = result.shareAs,
            //    Source = result.source,
            //    Calories = result.calories,
            //    Ingredients = result.ingredients.Select(x => x.text).ToList()
            //});
        }

        StateHasChanged();
    }
    private async void GetRecipe()
    {
        var searchResults = await SearchGI.GetRecipeByKeyword(currentSearch);

        StateHasChanged();
    }
    private void RemoveRecipe(RecipeModel _recipe)
    {
        allRecipes.Remove(_recipe);
        StateHasChanged();
    }
    private void ToggleRecipe(RecipeModel _recipe, bool status)
    {

    }
}
