@inherits LayoutComponentBase
@*<div class="sidebar">
        <NavMenu />
    </div>*@

<div style="width: 100%; height: 100%;">
    @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

    <div>
        @Body
    </div>
</div>

<div class="main footer" style="height: 10vh;">
    <GroceryBag />
</div>

@code {

}